---
import Layout from '../layouts/Layout.astro';
import { GeneratePage } from '@/components/GeneratePage';
import { DashboardLayout } from '@/components/DashboardLayout';
import DashboardWithOnboarding from '../components/Dashboard';
import '../styles/global.css';
---

<Layout title='Archway - Dashboard' description='Dashboard'>
	<main>
		<DashboardLayout client:load>
			<DashboardWithOnboarding client:load />
			<GeneratePage client:load />
		</DashboardLayout>
	</main>
</Layout>
